version: '3.8'
services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    networks:
      - localnet
    command: uvicorn main:app --reload --workers 1 --host 0.0.0.0 --port 8000

  frontend:
    build: ./frontend
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      #- ./frontend/node_modules:/app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    stdin_open: true
    tty: true
    command: npm start
    networks:
      - localnet

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    environment:
      VIRTUAL_HOST: shutupgpt.janczechowski.com
      LETSENCRYPT_HOST: shutupgpt.janczechowski.com
    networks:
      - localnet
      - nginx-proxy

networks:
  localnet:
  nginx-proxy:
    external: true
